In [22]:
import pandas as pd
import numpy as np

inputFile = "input.csv"

inputFileDF = pd.read_csv(inputFile)

inputFileDF

      Depth
0       156
1       153
2       163
3       168
4       166
...     ...
1995   3754
1996   3755
1997   3762
1998   3769
1999   3770

[2000 rows x 1 columns]

In [24]:
for row in enumerate(inputFileDF):
    print(row)

(0, 'Depth')

In [20]:
# For each row, if higher than the last, 'increased' and count + 1. else, move to next row.
# Set count = 0 to start
count = 0
row = 1

# next(inputFileDF)
for row in inputFileDF:
    if (row[0] > row[0].shift(-1)):
        count = count + 1
# print(count)

AttributeError: 'str' object has no attribute 'shift'